HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
/src/main/resources/application-local.yml
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### OWASP ZAP DAST Reports ###
report_html.html
report_md.md
report_json.json
**/*.zap
.zap/**/*.log
.zap/**/*.db
.zap/**/session/
# 保留配置文件
!.zap/*.yaml
!.zap/*.yml
!.zap/*.md
!.zap/README.md