<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group5.sebm.User.dao.BorrowerInfoMapper">

    <resultMap id="BaseResultMap" type="group5.sebm.User.entity.BorrowerInfoPo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="overdueTimes" column="overdueTimes" jdbcType="INTEGER"/>
            <result property="borrowedDeviceCount" column="borrowedDeviceCount" jdbcType="INTEGER"/>
            <result property="reservedDeviceCount" column="reservedDeviceCount" jdbcType="INTEGER"/>
            <result property="maxBorrowedDeviceCount" column="maxBorrowedDeviceCount" jdbcType="INTEGER"/>
            <result property="maxOverdueTimes" column="maxOverdueTimes" jdbcType="INTEGER"/>
            <result property="maxReservedDeviceCount" column="maxReservedDeviceCount" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,isDelete,updateTime,
        createTime,overdueTimes,borrowedDeviceCount,
        reservedDeviceCount,maxBorrowedDeviceCount,maxOverdueTimes,
        maxReservedDeviceCount,userId
    </sql>
</mapper>
